@import 'bootstrap';
/*@import 'bootstrap-responsive';*/

$maincolor: red;

body {
	background-color: $maincolor;
	font-family: helvetica;
}

nav {
	color: white;
}
#container {
	background-color: #eee;
	width: 800px;
	margin: 0 auto;
}

p {
	font-weight: bold;
}

#indexcontainer{

	margin: 20px;
	background-color: black

	h1 {
		text-align: center;
		color: #e30e30;
	}

	table {
		color: navy;
	}

	th {
		/*font-style: bold;*/
		color: orange;
	}

	tr {
		color: purple;
	}

	.mybutton {
	   border-top: 1px solid #d5db1c;
	   background: #65a9d7;
	   background: -webkit-gradient(linear, left top, left bottom, from(#0037ff), to(#65a9d7));
	   background: -webkit-linear-gradient(top, #0037ff, #65a9d7);
	   background: -moz-linear-gradient(top, #0037ff, #65a9d7);
	   background: -ms-linear-gradient(top, #0037ff, #65a9d7);
	   background: -o-linear-gradient(top, #0037ff, #65a9d7);
	   padding: 10px 20px;
	   -webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	   border-radius: 40px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: white;
	   font-size: 15px;
	   font-family: Georgia, Serif;
	   text-decoration: none;
	   vertical-align: middle;
	   }
	.mybutton:hover {
	   border-top-color: #256894;
	   background: #256894;
	   color: #fcfcfc;
	   }
	.mybutton:active {
	   border-top-color: #226923;
	   background: #226923;
	   }
	}

	#newcontainer {
		margin: 15px;
		background-color: orange;


		h1 {
			color: black;
		}
	}